body {
    background-color: orangered;
    color: white;
    margin: 0;
    font-family: rubik;
}



.container {
    padding: 40px;
    margin: 0 auto;
}

h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 54px;
}

#pokedex {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    grid-gap: 20px;
    padding-inline-start: 0;
}

.card {
    list-style: none;
    padding: 40px;
    background-color: #f4f4f4;
    color: #222;
    text-align: center;
}

.card:hover {
    animation: bounce 0.5s linear;
}

.card-title {
    text-transform: capitalize;
    margin-bottom: 0px;
    font-size: 32px;
    font-weight: normal;
}
.card-subtitle {
    margin-top: 5px;
    color: #666;
    font-weight: lighter;
}

.card-image {
    height: 180px;
}

@keyframes bounce {
    20% {
        transform: translateY(-6px);
    }
    40% {
        transform: translateY(0px);
    }

    80% {
        transform: translateY(-2px);
    }
    100% {
        transform: translateY(0);
    }
}


form
{

    height: 45px;
    display: flex;
    justify-content: center;
    padding: 10px;
    top: 0;
    left: 0;
    right: 0;

}
form input {
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 18px;
    padding: 12px 20px;
}


#PreButton
{
    margin-left: 121px;
    margin-top: 1px;
    width: 84px;
    height: 45px;
    background: brown;
    border: none;
    color: white;
    font-size:14px;
    font-weight:700;
}
#NextButton
{
    margin-left: 1400px;
    margin-top: 1px;
    width: 84px;
    height: 45px;
    background: brown;
    border: none;
    color: white;
    font-size:14px;
    font-weight:700;
}

.Back
{
    text-align:center ;
    width: 84px;
    height: 45px;
    background: brown;
    border: none;
    color: white;
    margin-bottom: 10px;
}


#info
{
    text-align: center;
}
#stats
{
    text-align: center;
}